img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #283645;
  font-size: 14px;
}
.header {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #1d2631;
  background-image: url('../img/bg-back-mobile@1x.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  /*параметры для увеличивания телефона в руке и фона для компов и телфонов с поддержкой VW*/
  -webkit-background-size: 100% 105vw;
  background-size: 100% 105vw;
}
@media (min-width: 700px) {
  .header {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .header {
    width: 100%;
  }
}
.header ul {
  position: absolute;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 700px) {
  .header ul {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .header ul {
    width: 100%;
  }
}
.menu-item {
  position: relative;
  padding: 20px 0px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #283645;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.menu-item::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu-item a {
  text-decoration: none;
  color: inherit;
}
.menu-item:first-child {
  min-height: 24px;
}
.menu-item:hover a[href] {
  color: #d22856;
}
.menu-item:active a[href] {
  opacity: 0.3;
}
.menu-item:nth-child(n+3):hover a[href] {
  border-bottom: solid 2px #d22856;
}
.logo-pink-mobile {
  float: left;
  margin-left: 20px;
}
#logo-pink-tablet {
  display: none;
}
#logo-pink-desktop {
  display: none;
}
.menu-item .menu-close {
  position: absolute;
  right: 22px;
  top: 15px;
  width: 50px;
  height: 30px;
  font-size: 0px;
  background-color: transparent;
}
.menu-item .menu-close::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-item .menu-close::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-item .menu-close:hover::before {
  background-color: #d22856;
}
.menu-item .menu-close:hover::after {
  background-color: #d22856;
}
.header-slogan h1 {
  display: none;
}
.handled {
  display: block;
  width: 260px;
  width: 80vw;
  /*резиновый телефон в руке*/
  padding-top: 172px;
  padding-top: 16.4vw;
  /*резиновый телефон в руке*/
  margin: 0px auto 28px 0;
}
.download-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 35px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border: solid 2px #fff;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 28px;
  cursor: pointer;
}
.download-btn:hover {
  background-color: #fff;
  color: #d22856;
}
.download-btn:active {
  color: #f2ced5;
}
.OS-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin: 0px auto;
}
.header p {
  display: block;
  width: 87%;
  margin: 0px auto;
  padding-top: 25px;
  padding-bottom: 35px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.hidden .menu-item:first-child {
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
}
.hidden .menu-item:nth-child(n+2) {
  display: none;
}
.hidden .menu-item::after {
  content: "";
  display: none;
}
.hidden .menu-close {
  right: 20px;
}
.hidden .menu-close::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0px;
  width: 50px;
  height: 4px;
  background-color: #fff;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  box-shadow: 0px 10px 0px #fff,
0px 20px 0px #fff;
}
.hidden .menu-close::after {
  content: "";
  display: none;
}
.hidden .menu-close:hover::before {
  box-shadow: 0px 10px 0px #d22856,
		0px 20px 0px #d22856;
}
.slogan {
  position: relative;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 55px;
  background-color: #fff;
  overflow: hidden;
}
@media (min-width: 700px) {
  .slogan {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .slogan {
    width: 100%;
  }
}
.slogan h1 {
  margin: 0;
  padding-top: 25px;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}
.slogan::after {
  position: absolute;
  bottom: -35px;
  bottom: -4vw;
  content: "";
  border: 35px solid transparent;
  border: 4vw solid transparent;
  border-left: 0px;
  border-right: 100vw solid #f2f2f2;
}
.features {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  overflow: hidden;
}
@media (min-width: 700px) {
  .features {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .features {
    width: 100%;
  }
}
.features .features-container h1 {
  padding-top: 35px;
  font-size: 18px;
  text-align: center;
}
.features .features-container p {
  display: block;
  width: 82%;
  margin: 0 auto;
}
.features-image {
  width: 157px;
  display: block;
  margin: 50px auto 0px auto;
}
.features-image2,
.features-image3 {
  display: none;
}
.promo-fact {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: none;
}
@media (min-width: 700px) {
  .promo-fact {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .promo-fact {
    width: 100%;
  }
}
/* ТЕКСТОВЫЙ СЛАЙДЕР*/
.slider {
  position: relative;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  overflow: hidden;
}
@media (min-width: 700px) {
  .slider {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .slider {
    width: 100%;
  }
}
.slider::after {
  position: absolute;
  bottom: -35px;
  bottom: -4vw;
  content: "";
  border: 35px solid transparent;
  border: 4vw solid transparent;
  border-left: 0px;
  border-right: 100vw solid #f2f2f2;
}
.slider-desktop-controls {
  display: none;
}
.slider-container {
  display: block;
  width: 300%;
  transition: all 0.3s ease-out;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.slider-container::after {
  content: "";
  display: table;
  clear: both;
}
.slider-item {
  float: left;
  width: 31.3%;
  padding: 0 1%;
  text-align: center;
  line-height: 30px;
}
.slider-item .bio-info {
  display: none;
}
#radio1:checked ~ .slider-container {
  -webkit-transform: 0%;
  -moz-transform: 0%;
  transform: translateX(0%);
}
#radio2:checked ~ .slider-container {
  -webkit-transform: 33.3%;
  -moz-transform: 33.3%;
  transform: translateX(-33.3%);
}
#radio3:checked ~ .slider-container {
  -webkit-transform: 66.6%;
  -moz-transform: 66.6%;
  transform: translateX(-66.6%);
}
section.price {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  overflow: hidden;
}
@media (min-width: 700px) {
  section.price {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  section.price {
    width: 100%;
  }
}
.price .slider-container {
  padding-top: 55px;
  display: block;
  width: 300%;
}
.table-price {
  float: left;
  width: 30%;
  border-collapse: collapse;
}
.table-price th {
  padding: 22px 0px;
  background-color: #283645;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
}
.table-price th span {
  font-weight: 300;
}
.table-price.support {
  display: none;
}
.table-price td {
  padding: 22px 20px;
  background-color: #fff;
  border: solid 2px #f2f2f2;
  text-transform: uppercase;
  font-size: 14px;
  color: #283645;
}
.table-price .yes {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
}
.table-price .no {
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: 93% 50%;
  -webkit-background-size: 20px;
  background-size: 20px;
}
.table-price .hit {
  position: relative;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.table-price .hit::after {
  position: absolute;
  left: 2%;
  top: 22px;
  -webkit-transform: -45deg;
  -moz-transform: -45deg;
  transform: rotate(-45deg);
  content: "ХИТ";
  font-size: 14px;
}
/* СЛАЙДЕР ПРАЙС ТАБЛИЦА*/
#radio4:checked ~ .slider-container {
  -webkit-transform: 0%;
  -moz-transform: 0%;
  transform: translateX(0%);
}
#radio5:checked ~ .slider-container {
  -webkit-transform: -28.5%;
  -moz-transform: -28.5%;
  transform: translateX(-28.5%);
}
#radio6:checked ~ .slider-container {
  -webkit-transform: -60%;
  -moz-transform: -60%;
  transform: translateX(-60%);
}
section.contacts {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  vertical-align: top;
}
@media (min-width: 700px) {
  section.contacts {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  section.contacts {
    width: 100%;
  }
}
section.contacts h1 {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}
section.contacts h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
section.contacts span {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}
section.contacts::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  border: 35px solid #fff;
  border-top: 100px solid #fff;
  border-bottom: 0;
  border-left: solid 48vw transparent;
  border-right: solid 48vw transparent;
  z-index: 20;
}
section.map {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 700px) {
  section.map {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  section.map {
    width: 100%;
  }
}
section.map svg {
  position: absolute;
  top: -5px;
  width: 100%;
  height: auto;
  z-index: 10;
}
#map {
  overflow: hidden;
  width: 100%;
  height: 300px;
}
/*СТИЛИ КНОПОК СЛАЙДЕРА*/
.slider-controls {
  display: block;
  width: 70px;
  margin: 35px auto;
  height: 10px;
}
.slider-controls::after {
  content: "";
  display: table;
  clear: both;
}
.slider input,
.price input {
  display: none;
}
.slider-controls label {
  float: left;
  cursor: pointer;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #c2c6ca;
  margin-right: 20px;
}
.slider-controls label:last-child {
  margin-right: 0;
}
.slider-controls label:hover {
  background-color: #7e868f;
}
#radio1:checked ~ .slider-controls label[for="radio1"],
#radio2:checked ~ .slider-controls label[for="radio2"],
#radio3:checked ~ .slider-controls label[for="radio3"],
#radio4:checked ~ .slider-controls label[for="radio4"],
#radio5:checked ~ .slider-controls label[for="radio5"],
#radio6:checked ~ .slider-controls label[for="radio6"] {
  background-color: transparent;
  box-shadow: 0px 0px 0px 2px #000;
}
.footer {
  display: none;
}
/* Стили странички конкурса  и футер*/
.mobile-hidden {
  display: none;
}
.concurs-slogan {
  padding: 100px 45px 50px 45px;
  text-align: center;
}
.concurs-slogan h1 {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.person-name {
  box-sizing: border-box;
  padding: 40px 20px;
}
.concurs-info h2 {
  width: 90%;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #283645;
}
h2.form-h2 {
  font-size: 14px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}
.inputs-container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.person-name label {
  color: #d22856;
  text-transform: uppercase;
}
.person-name input {
  display: block;
  width: 280px;
  box-sizing: border-box;
  padding: 25px 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #283645;
}
/*  ЦВЕТ ПЛЕЙСХОЛДЕРА*/
input::-moz-placeholder {
  color: #283645;
  font-size: 18px;
  opacity: 1.0;
}
input::-webkit-input-placeholder {
  color: #283645;
  font-size: 18px;
  opacity: 1.0;
}
input:focus {
  outline: none;
  border: 2px solid #d22856;
}
textarea:focus {
  outline: none;
  border: 1px solid #d22856;
}
.achievements {
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: #f2f2f2;
}
.achievements label {
  display: block;
  position: relative;
  font-size: 18px;
  color: #283645;
  margin-top: 50px;
  padding-left: 70px;
}
.achievements input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: solid 2px #eee;
  border-radius: 2px;
}
input[type="checkbox"]:checked + label::after {
  content: "✓";
  position: absolute;
  top: -14px;
  left: 6px;
  font-size: 38px;
  color: #d22856;
}
.person-contacts {
  box-sizing: border-box;
  padding: 40px 20px;
}
.person-contacts label {
  font-size: 14px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}
.person-contacts input {
  display: block;
  width: 280px;
  box-sizing: border-box;
  padding: 25px 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #283645;
}
.pink-os-type {
  box-sizing: border-box;
  padding: 40px 20px;
  background-color: #f2f2f2;
}
.pink-os-type label {
  display: block;
  position: relative;
  font-size: 18px;
  color: #283645;
  margin-top: 50px;
  padding-left: 70px;
}
.pink-os-type input[type="radio"] {
  display: none;
}
input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: solid 2px #eee;
  border-radius: 50%;
}
input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
  z-index: 10;
}
.emotion-review {
  box-sizing: border-box;
  padding: 40px 20px;
}
.emotion-review .inputs-container {
  width: 80%;
}
.emotion-review textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 20px;
  font-size: 18px;
  color: #283645;
  margin-bottom: 45px;
  text-align: center;
}
.send-form {
  display: block;
  width: 280px;
  background-color: #2aab6d;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 25px 0px ;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
.form-rules-informer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  text-transform: uppercase;
  color: #283645;
}
.form-rules-informer span {
  color: #d22856;
}
.footer.concurs-footer {
  display: block;
}
.footer {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 35px 40px;
  background-color: #fff;
}
@media (min-width: 700px) {
  .footer {
    width: 100%;
  }
}
@media (min-width: 1080px) {
  .footer {
    width: 100%;
  }
}
.footer::after {
  content: "";
  display: table;
  clear: both;
}
.footer a:active {
  opacity: 0.3;
}
.logo-footer {
  display: block;
  width: 147px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
svg:hover .logo-svg-text {
  fill: #d22856;
}
.footer .social {
  width: 187px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.footer .social::after {
  content: "";
  display: table;
  clear: both;
}
.social .icon {
  display: block;
  float: left;
  width: 48px;
  height: 48px;
  border: solid 2px #f2f2f2;
  border-radius: 50%;
  margin-right: 15px;
}
.social .icon:last-child {
  margin-right: 0px;
}
.social .icon:hover {
  border: solid 2px rgba(0, 0, 0, 0.7);
}
.social .twitter {
  background-image: url(../img/icon-twitter.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.social .facebook {
  background-image: url(../img/icon-facebook.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.social .youtube {
  background-image: url(../img/icon-youtube.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
.footer .author {
  display: block;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 52px;
  padding: 0px 20px;
  color: #d22856;
  text-decoration: none;
  border: solid 2px #f2f2f2;
  border-radius: 30px;
}
.footer .author:hover {
  border: solid 2px rgba(0, 0, 0, 0.7);
}
@media (min-width: 700px) {
  .header {
    height: 730px;
    background-image: url('../img/iphone-hand-mobile@1x.png'), url('../img/bg-back-mobile@1x.jpg');
    background-position: 80% bottom, top center;
    background-size: auto 75%, auto 100%;
  }
  .header.form-header {
    background-image: url('../img/bg-back-mobile@1x.jpg');
    background-position: top center;
    background-size: 100% auto;
    height: auto;
  }
  .logo-pink-mobile {
    display: none;
  }
  .logo-pink-tablet {
    display: block;
  }
  #logo-pink-tablet {
    display: block;
    margin-left: 40px;
    margin-top: -15px;
  }
  .menu-item {
    padding: 40px 0px;
  }
  .menu-item .menu-close {
    top: 35px;
  }
  .header-slogan {
    width: 300px;
    margin-left: 40px;
    padding-top: 200px;
  }
  .header-slogan h1 {
    display: block;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    padding: 0 40px;
  }
  .handled {
    display: none;
  }
  .OS-images {
    margin-left: 84px;
  }
  .header p {
    display: block;
    width: 300px;
    margin-left: 40px;
    font-size: 18px;
    font-weight: 300;
  }
  .slogan h1 {
    font-size: 40px;
  }
  .slogan h1.short {
    width: 48%;
    margin-right: auto;
    margin-left: auto;
  }
  .features {
    position: relative;
    padding-bottom: 45px;
    overflow: visible;
  }
  .features::after {
    content: "";
    display: table;
    clear: both;
  }
  .features .features-container {
    float: right;
    width: 40%;
    margin-left: 5%;
    margin-right: 10%;
  }
  .features .features-container h1 {
    text-align: left;
  }
  .features .features-container h1:first-child {
    padding-top: 0px;
  }
  .features .features-container p {
    width: 100%;
    text-align: left;
  }
  .features-image {
    position: absolute;
    left: 5%;
    bottom: 0%;
    width: 34%;
    max-width: 240px;
    max-height: 420px;
  }
  .promo-fact {
    display: block;
    background-color: #fff;
    background-image: url(../img/research-bgr.svg);
    background-repeat: no-repeat;
    background-position: 10% center;
    -webkit-background-size: 250px 288px;
    background-size: 250px 288px;
    padding-top: 74px;
    padding-bottom: 85px;
  }
  .promo-fact a {
    color: #d22856;
    margin-left: 50%;
  }
  .promo-fact .fact-header {
    font-size: 30px;
    width: 180px;
    margin-left: 50%;
  }
  .promo-fact .fact-text {
    width: 33%;
    margin-left: 50%;
  }
  .slider-item {
    display: flex;
    flex-direction: column;
  }
  .slider-item p {
    order: -1;
  }
  .slider-item .bio-info {
    display: block;
    margin-top: -10px;
  }
  section.price {
    padding-bottom: 55px;
  }
  .price .slider-container {
    width: 100%;
    margin-left: 10%;
  }
  .table-price {
    width: 21%;
    max-width: 250px;
  }
  .table-price td {
    color: transparent;
  }
  .table-price.support {
    display: table;
    width: 21%;
  }
  .table-price.support th {
    background-color: transparent;
    color: transparent;
    border: none;
  }
  .table-price.support td {
    color: #283645;
  }
  .table-price .yes {
    background-position: center center;
  }
  .table-price .no {
    background-position: center center;
  }
  .slider-controls.table-controls {
    display: none;
  }
  section.contacts h1 {
    font-size: 40px;
  }
  .contacts .call,
  .contacts .write,
  .contacts .meet {
    display: inline-block;
    width: 358px;
  }
  .meet {
    margin-top: 25px;
  }
  #map {
    height: 350px;
  }
  .footer {
    display: block;
    position: relative;
  }
  .logo-footer {
    float: left;
    margin-bottom: 0px;
  }
  .footer .social {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .author {
    float: right;
    margin: 0;
  }
  /*стили страницы куонкурса*/
  .mobile-hidden {
    display: block;
  }
  .tablet-hidden {
    display: none;
  }
  /* Убираем текст плейсхолдера, далее будут псевдоплейсхолдеры через псевдоэлементы*/
  .person-contacts input::-moz-placeholder {
    color: #283645;
    font-size: 0px;
    opacity: 1.0;
  }
  .person-contacts input::-webkit-input-placeholder {
    color: #283645;
    font-size: 0px;
    opacity: 1.0;
  }
  .concurs-slogan {
    padding: 140px 115px 80px 115px;
    text-align: center;
  }
  .concurs-slogan h1 {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
  }
  .wrapper-concurs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .inputs-container {
    width: 100%;
  }
  .concurs-info h2 {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  .person-name {
    order: 1;
    padding: 40px 0px;
  }
  .person-name::after {
    content: "";
    display: table;
    clear: both;
  }
  .person-name .inputs-container {
    vertical-align: baseline;
  }
  .person-name .container::after {
    content: "";
    display: table;
    clear: both;
  }
  .person-name label {
    float: left;
    clear: left;
    margin-right: 20px;
    line-height: 72px;
  }
  .person-name input {
    float: right;
    width: 84.6%;
    margin-top: 0px;
    margin-bottom: 25px;
  }
  #firstname {
    width: 89.7%;
  }
  .achievements {
    position: relative;
    background-color: #fff;
    border: solid #f2f2f2 2px;
    order: 4;
    margin-bottom: 70px;
  }
  .achievements h2:first-of-type {
    position: absolute;
    background-color: #fff;
    width: 400px;
    left: 0;
    right: 0;
    top: -22px;
    margin-right: auto;
    margin-left: auto;
  }
  .pink-os-type {
    order: 2;
    position: relative;
    background-color: #fff;
    border: solid #f2f2f2 2px;
    padding-top: 10px;
    margin-bottom: 70px;
  }
  .pink-os-type h2:first-of-type {
    position: absolute;
    background-color: #fff;
    width: 400px;
    left: 0;
    right: 0;
    top: -22px;
    margin-right: auto;
    margin-left: auto;
  }
  .person-contacts {
    position: relative;
    background-color: #fff;
    border: solid #f2f2f2 2px;
    padding-top: 10px;
    margin-bottom: 70px;
    order: 3;
  }
  .person-contacts .mobile-hidden {
    float: left;
  }
  .person-contacts h2:first-of-type {
    position: absolute;
    background-color: #fff;
    width: 280px;
    left: 0;
    right: 0;
    top: -22px;
    margin-right: auto;
    margin-left: auto;
  }
  .person-contacts .inputs-container {
    width: 470px;
    float: left;
  }
  .person-contacts input {
    position: relative;
    width: 450px;
    margin-bottom: 0px;
    padding: 15px 20px;
  }
  input.number + span::before {
    content: "+7 ХХХ ХХХ-ХХ-ХХ";
    position: absolute;
    top: 65px;
    left: 40px;
    z-index: 10;
  }
  input.number + span::after {
    content: "";
    position: absolute;
    top: 46px;
    left: 408px;
    width: 60px;
    height: 55px;
    background-color: #f2f2f2;
    background-image: url(../img/phone.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
  }
  input.number:focus + span::before {
    content: "";
  }
  input.email + span::before {
    content: "Введите почту";
    position: absolute;
    top: 175px;
    left: 40px;
    z-index: 10;
  }
  input.email + span::after {
    content: "";
    position: absolute;
    top: 157px;
    left: 408px;
    width: 60px;
    height: 55px;
    background-color: #f2f2f2;
    background-image: url(../img/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
  }
  input.email:focus + span::before {
    content: "";
  }
  .emotion-review {
    position: relative;
    background-color: #fff;
    border: solid #f2f2f2 2px;
    padding-top: 50px;
    order: 5;
  }
  .emotion-review h2:first-of-type {
    position: absolute;
    background-color: #fff;
    width: 280px;
    left: 0;
    right: 0;
    top: -22px;
    margin-right: auto;
    margin-left: auto;
  }
  .send-form {
    float: left;
  }
  .form-rules-informer {
    float: right;
    margin-top: 25px;
  }
}
/* скобочка медивыражений*/
@media (min-width: 1080px) {
  #logo-pink-mobile {
    display: none;
  }
  #logo-pink-tablet {
    display: none;
  }
  #logo-pink-desktop {
    display: block;
    margin-left: 0px;
    margin-top: -15px;
  }
  .menu-item .menu-close {
    display: none;
  }
  svg:hover .spark {
    fill: #fff;
  }
  .header ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .hidden .menu-item:nth-child(n) {
    background-color: transparent;
    display: block;
    border: none;
    text-transform: capitalize;
  }
  .header {
    background-image: url('../img/iphone-6-desktop.png'), url('../img/promo-header_bgr-blue-desktop-min.jpg');
    background-size: auto 75%, 100% 100%;
    min-height: 660px;
    height: 49vw;
  }
  .header-slogan {
    margin-left: 165px;
    margin-bottom: 70px;
    font-size: 50px;
  }
  .OS-images {
    margin-left: 200px;
  }
  .header p {
    margin-left: 165px;
  }
  .slogan {
    padding: 80px 0px;
  }
  .slogan h1 {
    padding-top: 0px;
    font-size: 50px;
    font-weight: bold;
  }
  .features {
    padding-top: 260px;
  }
  .features .feature {
    width: 240px;
  }
  .features .features-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .features .features-container h1 {
    text-align: center;
    font-size: 30px;
  }
  .features .features-container h1:first-child {
    padding-top: 0px;
  }
  .features .features-container p {
    font-size: 18px;
    text-align: center;
  }
  .features-image {
    position: absolute;
    margin-right: 8%;
    margin-left: auto;
    left: 0;
    right: 0;
    top: -20%;
    width: 292px;
    height: 300px;
    max-width: 292px;
  }
  .features-image2 {
    position: absolute;
    display: block;
    left: 8.7%;
    top: -10%;
    width: 292px;
    height: 300px;
  }
  .features-image3 {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -10%;
    width: 292px;
    height: 300px;
  }
  .promo-fact {
    padding-bottom: 120px;
    background-color: #f2f2f2;
    background-size: 300px 354px;
  }
  .promo-fact a {
    color: #d22856;
    margin-left: 40%;
    font-size: 18px;
  }
  .promo-fact .fact-header {
    width: 300px;
    margin-left: 40%;
  }
  .promo-fact .fact-text {
    width: 45%;
    margin-left: 40%;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
  }
  .slider {
    padding-top: 180px;
    padding-bottom: 55px;
    background-image: url(../img/quotes.svg);
    background-repeat: no-repeat;
    background-position: center 65px;
  }
  .slider .slider-controls {
    display: none;
  }
  .slider-desktop-controls {
    display: block;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
  }
  .slider-desktop-controls.left {
    position: absolute;
    left: 25%;
    top: 220px;
    z-index: 10;
  }
  .slider-desktop-controls.right {
    position: absolute;
    right: 25%;
    top: 220px;
    z-index: 10;
  }
  .slider-item p {
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  .slider-item h2 {
    font-size: 24px;
  }
  .slider-item .bio-info {
    font-size: 18px;
  }
  .price .slider-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .table-price td {
    font-size: 18px;
  }
  section.contacts h1 {
    font-weight: bold;
    color: #283645;
  }
  section.contacts h2 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
  section.contacts span {
    font-size: 20px;
    font-weight: 300;
    color: #d22856;
  }
  .contacts-info {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
  }
  .contacts-info .call {
    order: 1;
  }
  .contacts-info .meet {
    margin-top: 0;
    order: 2;
  }
  .contacts-info .write {
    order: 3;
  }
  /*стили страницы конкурса*/
  .concurs-slogan {
    padding-top: 240px;
  }
  .wrapper-concurs {
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .concurs-info h2 {
    position: absolute;
    top: 700px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    font-size: 20px;
    z-index: 10;
  }
  .person-name {
    flex-basis: 50%;
    padding: 20px;
    padding-top: 160px;
    box-sizing: border-box;
  }
  .person-name input {
    width: 70%;
    padding: 15px 20px;
  }
  #firstname {
    width: 70%;
  }
  .person-contacts {
    flex-basis: 50%;
    order: 2;
    margin-top: 130px;
    margin-bottom: 0;
    border: none;
  }
  .achievements {
    order: 3;
    flex-basis: 50%;
  }
  .pink-os-type {
    order: 4;
    flex-basis: 50%;
    border-left: none;
  }
  .emotion-review {
    flex-basis: 100%;
  }
  .send-form-container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Скобка медиавыражений*/
